<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
	<meta http-equiv=“content-type“ content=“text/html; charset=windows-1251″ />
	<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
	<meta name="keywords" content="Jordan Jordanov, Метални конструкции, монтаж метални конструкци,ap4ihh, монтаж, заварки, монтаж LT ламарина, метал конструкшън,болтов и завърчен монтаж,конструкции софия,стоманена конструкция, термопанели и ламарина,суматерм,">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Метални конструкции|Бригада извършваща монтаж на метални конструкци!">
	<meta name=“ЙорданЙорданов“ content=“МеталниКонструкции“ />
	<title>Метални Конструкции - Йордан Йорданов</title>
	<link rel = "stylesheet" href="css/normalize.css">
	<link rel = "stylesheet" href="css/style.css">
</head>
<body  class="body">
  <header class="mainHeader">

  <img src="images/logo.png">
  <div class="head">
  <h1>Metal Constructions</h1>
  <h2>Jordan Jordanov</h2>
  </div>
<%- include loginmenu.ejs %> 
  </header>

  <h1 class="text-uppercase text-white"><h1>Здравей, <%= user %></h1></h1>
    <%- include loginfooter.ejs %>

  </body>
</html>
