<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv=“content-type“ content=“text/html; charset=windows-1251″ />
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
    <meta name="keywords" content="Jordan Jordanov, Метални конструкции, монтаж метални конструкци,ap4ihh, монтаж, заварки, монтаж LT ламарина, метал конструкшън,болтов и завърчен монтаж,конструкции софия,стоманена конструкция, термопанели и ламарина,суматерм,">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Метални конструкции|Бригада извършваща монтаж на метални конструкци!">
    <meta name=“ЙорданЙорданов“ content=“МеталниКонструкции“ />
    <title>Метални Конструкции - Йордан Йорданов</title>
    <link rel = "stylesheet" href="css/normalize.css">
    <link rel = "stylesheet" href="css/style.css">
  
      <!-- jQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <!-- FlexSlider -->
    <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" charset="utf-8">
    var $ = jQuery.noConflict();
    $(window).load(function() {
    $('.flexslider').flexslider({
        animation: "fade"
    });
    
    $(function() {
      $('.show_menu').click(function(){
          $('.menu').fadeIn();
          $('.show_menu').fadeOut();
          $('.hide_menu').fadeIn();
      });
      $('.hide_menu').click(function(){
          $('.menu').fadeOut();
          $('.show_menu').fadeIn();
          $('.hide_menu').fadeOut();
      });
    });
    });
  </script>   
  </head>
  <body>
    <%- include menu.ejs %>
    <body class="body">
    <header class="mainHeader">

    <img src="images/logo.png">
    <div class="head">
    <h1>Metal Constructions</h1>
    <h2>Jordan Jordanov</h2>
    </div>
  </header>     
    <section class="content"> 
        <article class="topcontent">  
          <header>
            <h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">За нас</a></h2>
          </header>       
          <content>
            <img  class="pic " src="images/proekt.jpg" alt="met.element">
            <p>Метал конструкшън е бригада монтажник-заварчици с дългогодишен опит в изграждането и монтажа на всички видове метални конструкции:
            окачени фасади от еталбонд, термо-панели, метални, плъзгащи врати, парапети, огради, оградни пана, халета, навесии, метални къщи и други изделия от метал.</p>
            <p>През годините се научихме да работим прецизно,отговорно и в срок,както и да изпипваме  всeки детайл,така че клиентите ни да отстанат доволни.</p>
            <p>Работим както с проекти на клиента, така и с наши проекти.</p>
            </content>
        </article>

        <article class="bottomcontent"> 
          <header>
            <h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">Галерия</a></h2>
          </header>
              
          <content>
          <div class="container">
       
         <div class="slider_container">
          <div class="flexslider">
            <ul class="slides">
            <li>
              <a href="#"><img src="images/slider/1.jpg" alt="" title=""/></a>
              <div class="flex-caption">
                 <div class="caption_title_line"><h2> </h2><p></p></div>
              </div>
            </li>
            <li>
              <a href="#"><img src="images/slider/2.jpg" alt="" title=""/></a>
              <div class="flex-caption">
                 <div class="caption_title_line"><h2> </h2><p> </p></div>
              </div>
            </li>
            <li>
              <a href="#"><img src="images/slider/3.jpg" alt="" title=""/></a>
              <div class="flex-caption">
                 <div class="caption_title_line"><h2> </h2><p></p></div>
              </div>
            </li>
            <li>
              <a href="#"><img src="images/slider/5.jpg" alt="" title=""/></a>
              <div class="flex-caption">
                 <div class="caption_title_line"><h2> </h2><p></p></div>
              </div>
            </li>
          </ul>
          </div>
         </div>
        </div>  
      </div>
          </content>
        
        </article>
    </section>
      
        <aside class="sidebar-box">
          <article>
          <h2><a href="services.html" rel="bookmark" title="Permalink to this POST TITLE">Нашите услуги</a></h2>
          <ul id="sidebar-box-list">
            <li>Проектиране</li>
            <li>Изготвяне на заготовки</li>
            <li>Монтаж:<ul> 
              <li>Пускане на оси</li>
              <li>Mетани конструкции</li> 
              <li>Суматерм</li> 
              <li>LT</li> 
            </ul></li>
            <li>Подписване на монтажни и заваръчни дейности (актуални паспорти)</li>        
          </ul>
            </article>
        </aside>
        <aside class="sidebar-box">
          <article>
          <content>
          <h2><a href="contacts.html" rel="bookmark" title="Permalink to this POST TITLE">За връзка с нас</a></h2>
          <h4>Лице за контакт:</h4>     
          <h3>Йордан Йорданов</h3>      
          <h4>Телефон:</h4>             
          <a class="phone" href="tel:+359 89 34 68 507" >+359 893 468 507</a><br> 
          <a class="phone" href="tel:+359888554548" >+359 888 554 548</a>     
          <h4>Email:</h4>
          <a class="email" href="mailto:ap4ihh@abv.bg" target="_top">ap4ihh@abv.bg</a>          
          </content> 
          </article>
        </aside>
    <%- include footer.ejs %>
  </body>
</html>
