<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
  <meta http-equiv=“content-type“ content=“text/html; charset=windows-1251″ />
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
  <meta name="keywords" content="Jordan Jordanov, Метални конструкции, монтаж метални конструкци,ap4ihh, монтаж, заварки, монтаж LT ламарина, метал конструкшън,болтов и завърчен монтаж,конструкции софия,стоманена конструкция, термопанели и ламарина,суматерм,">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Метални конструкции|Бригада извършваща монтаж на метални конструкци!">
  <meta name=“ЙорданЙорданов“ content=“МеталниКонструкции“ />
  <title>Метални Конструкции - Йордан Йорданов</title>
  <link rel = "stylesheet" href="css/normalize.css">
  <link rel = "stylesheet" href="css/style.css">
  </head>
   
  <body class="body">
       <%- include menu.ejs %>
    <header class="mainHeader">

    <img src="images/logo.png">
    <div class="head">
    <h1>Metal Constructions</h1>
    <h2>Jordan Jordanov</h2>
    
  </header>     
    <section class="content"> 
        <article class="topcontent">  
          <header>
            <h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">Услуги</a></h2>
          </header>
          <content>
            <article class="cell">
                <img  class="img" src="images/elem1.jpg" alt="met.element">
                <h2>Заготвка и монтаж </h2>
                <p class="textCell">
               Метални конструкции се използват за за изграждане на метални складове, халета, сгради, бензиностанции, навеси, офиси и др.
               Металните конструкции служат не само като самостоятелно обособени обекти, но и като основа на много видове сгради с различно приложение.
               Изработката на заготовки позволава бърз монтаж и изграждане на обекти в кратки срокове с дълъг период на експроатация. Лесна подръжка, и дълъг срок на експлоашация.
                </p>
              </article>
              <article class="cell">
                <img  class="img" src="images/elem2.jpg" alt="met.element">
                <h2 class="">Пускане на оси и нива с оптика<br>
                Актуални паспорти</h2>
                <p class="textCell"> Пускането на оси с оптика осигурява качество и прецизност на изпълнението. Точноста осигурява качествена и лесна реализацията на проектните решения. 
               Гарантира надежността на изградените конструкции.
               </p>
              <p>Осигуряването на актуални паспорти служи при узаконяване на сградите. 
                </p>
              </article>
              <article class="cell">
                <img class="img" src="images/elem3.jpg" alt="met.element">
                <h2>Монтаж на суматерм<br>
                ЛТ ламарина</h2>
                <p class="textCell"> ЛТ ламарината е  подходяща за бързо, лесно и икономично изграждане на производствени и складови халета, 
               селскостопански сгради, покрити пазари, паркинги, гаражи, външни и вътрешни облицовки на сгради, огради, несваляеми кофражи и други приложения.
                </p>
                <p>Нанасянето на Суматерм осигурява защита от корозия и дълъг експлоатационен живот на металните конструкции. Пирдава добър естетичен вид.</p>
             </article>
             <article class="cell">
                <img class="img" src="images/index.jpg" alt="met.element">
                <h2>Възможност за проектиране<br>
                Подписване на монтажни и заваръчни дейности.</h2>
                <p class="textCell">Проектиране на стоманена фермова конструкция са изготвени във фаза технически работен проект по части Конструктивна и Архитектурна.
               Проектите са разработени спрямо действащите в момента норми за натоварване и въздействия, доказана сеизмична осигуреност и експлоатационна пригодност. 
               В зависимост от пренадзначението на сградата се разработват техническите проекти по останалите части. 
                </p>
             </article>
          </content>
          
        </article>

        <article class="bottomcontent"> 
          <header>
            <h2><a href="contacts.html" rel="bookmark" title="Permalink to this POST TITLE">Предимства на металните конструкции</a></h2>
          </header>
          <content>
          <h4>Естетични:</h4>
          <p>Предоставя свобода за дизайн на архитекти и дизайнери. Прозрачност, деликатност и лекота на конструкцията. Големи подпорни разстояния, отворени площи. Елегантност, изчистени форми, многообразие от цветове. Тенденция на модерния архитектурен дизайн.</p>
          <h4>Икономически:</h4>
          <p>Бърз и лесен монтаж.Добро съотношение между товароносимостта и теглото на конструкцията. Възможност за надграждане и промени. Лесна поддръжка и дълготрайност. Ниски разходи при разглобяване и сваляне на конструкцията. Възможност за последваща употреба.</p>
          <h4>Екологични:</h4>
          <p>Материал, който се рециклира и е природосъобразен. Не вреди на околната среда през периода на експлоатация или в края му. Ниско ниво на замърсяване на околната среда при транспортиране и монтаж</p>
          <h4>Технически:</h4>
          <p>Здравина на материала.
          Лесно се комбинира с други материали. 
          Завършени решения.  
          Висока технология и качество</p>  
          <h4>Сигурност:</h4>
          <p>Ниско тегло. Земетръсна устойчивост. Опростен визуален контрол на изработката и изпълнението.</p>  
          </content>
        
        </article>
    </section>
      
        <aside class="sidebar-box">
          <article>
          <h2><a href=" " rel="bookmark" title="Permalink to this POST TITLE">Наши клиенти</a></h2>
          <content class="pnone">
          <ul>
          <li>Лалев ЕООД</li>
          <li>ЕВРОКОНСТРУКЦИИ ЕООД</li>
          <li>СЪНЕКО ГРУП</li>
          <li>ИЗОМОНТАЖ</li>
          <li>ОМЕГА ЕООД</li>
          <li>DEM - Grece</li>
          <li>СКАЙ-МОНТ ЕООД</li>
          </ul>
          </content>          
          </article>
        </aside>
        <aside class="sidebar-box">
        <article>
          <h2><a href=" " rel="bookmark" title="Permalink to this POST TITLE">Наши обекти</a></h2>
          <content class="pnone">         
          <figure>
            <img class="imageside" src="images/port-burgas.jpg" alt="Осветление стадион - Русе">
             <figcaption>
             Пристанище Бургас
            </figcaption>
          </figure>
          <figure>
            <img class="imageside" src="images/house.jpg" alt="Осветление стадион - Русе">
             <figcaption>
             Покривна конструкция
            </figcaption>
          </figure>
          </content class="pnone">          
        </article>
        </aside>
        <aside class="sidebar-box">
          <article>
          <content>
          <h2><a href="contacts.html" rel="bookmark" title="Permalink to this POST TITLE">За връзка с нас</a></h2>
          <h4>Лице за контакт:</h4>     
          <h3>Йордан Йорданов</h3>      
          <h4>Телефон:</h4>             
          <a class="phone" href="tel:+359 89 34 68 507" >+359 893 468 507</a><br> 
          <a class="phone" href="tel:+359888554548" >+359 888 554 548</a>     
          <h4>Email:</h4>
          <a class="email" href="mailto:ap4ihh@abv.bg" target="_top">ap4ihh@abv.bg</a>          
          </content> 
          </article>
        </aside>
    <%- include footer.ejs %>

  </body>
</html>
